<h1>Deposit</h1>
<h3>balance: <%= @account.balance %></h3>
<%= form_with url: deposit_user_account_path, local: true do |form| %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit 'deposit' %>
  </div>
<% end %>

